@import "tailwindcss";

@theme {
    --color-primary-50: #e8f1fb;
    --color-primary-100: #c6def7;
    --color-primary-200: #a3cbee;
    --color-primary-300: #7bb8e4;
    --color-primary-400: #539fda;
    --color-primary-500: #3586d0;
    --color-primary-600: #2769ac;
    --color-primary-700: #1e538b;
    --color-primary-800: #17416f;
    --color-primary-900: #12325a;
    --color-primary-950: #0b1a2b;
}


/* Base styles */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    background-color: #FAFAFA;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}